# Copy to ".env" and fill in the actual values.
PORT=3000
NODE_ENV=development

GOOGLE_MAPS_API_KEY=AIzaSyB6yyLwRfSRwCenlkpLYF7nKPMczewfrOA

OPENWEATHER_API_KEY=9ba38385072be48414cd254fe6006ab0

AIRNOW_API_KEY=C91D51E6-E7AB-463D-B27C-E500944E79C9

GEMINI_API_KEY=AIzaSyDzR_2jBdeVtXcaTuQ8V0is12beCuAEYwE
